<div style="margin-top:2em">
</div>
<div class="mdl-grid grid-width">
    <div class="mdl-cell--4-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored largeButtons">
            Button 1
        </button>
    </div>
    <div class="mdl-cell--4-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored largeButtons">
            Button 2
        </button>
    </div>
    <div class="mdl-cell--4-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored largeButtons">
            Button 3
        </button>
    </div>
</div>
<div class="mdl-grid grid-width">
    <div class="mdl-cell--4-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored largeButtons">
            Button 4
        </button>
    </div>
    <div class="mdl-cell--4-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored largeButtons">
            Button 5
        </button>
    </div>
    <div class="mdl-cell--4-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored largeButtons">
            Button 6
        </button>
    </div>
</div>
